.input_search_box {
  position: relative;
  width: 100%;
  .input_search {
    border: 1px solid #dce0e0;
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    align-items: center;
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      background-color: rgb(245, 245, 245);
      outline: none;
      font-size: 15px;
      border: hidden;
      line-height: 17px;
      font-weight: 400;
    }
    .icon_search {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(245, 245, 245);
    }
    input:focus.input:focus {
      background-color: rgb(233, 233, 233);
    }
  }
  .option_search {
    position: absolute;
    border: 1px solid #b9b9b9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    top: 90%;
    left: 0;
    width: 100%;
    z-index: 1;
    .option_item {
      text-align: left;
      padding: 10px;
      cursor: pointer;
      background: white;
      transition: 0.3s;
    }
    .option_item:hover {
      background-color: rgb(218, 218, 218);
    }
  }
}
