/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Poppins, sans-serif; */
}
.app{
  position: relative;
}
.container{
  max-width: 1425px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 0 90px;
}
@media (max-width: 1199px) {
  .container{
    max-width: 960px;
    padding: 0 30px;
  }
}
@media (max-width: 959px) {
  .container{
    max-width: unset;
    padding: 0 20px;
  }
}